<html>
	<body>
		<div>
			<a href="{{url_for('adminlogout')}}">Log Out</a>
        </div>
		<h1>Assign Issue</h1>
		<form action="{{ url_for('assignissue', item_id=item_id)}}" method='post'>
		<p>Name</p>
		<input	name='name' size='30'	type='text' placeholder='{{i.name}}'>
		<p>Description</p>
		<input	name='name' size='30'	type='text' placeholder='{{i.description}}'>
		<p>Priority</p>
		<input	name='name' size='30'	type='text' placeholder='{{i.priority}}'>
		<p>Assigned</p>
		<select name="assign">
		{% for i in personel %}
			<option value="{{i.username}}">{{i.username}}</option>
		{% endfor %}
		</select>   
		<p>
		<input	type='submit'	value='Update'>
		</p>
		</form> 
        
        </div>
	</body>
</html>