<html>
  <head>
    <meta charset="utf-8">
    <title>Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-eye-outline"></i> Issue Tracker</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Services</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header id="one">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Any Complains?</h1>
                <h4>Log a task and have it resolved ASAP!</h4>
                <hr>
                <a href="{{url_for('login')}}" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">Sign Up or Sign In</a> 
            </div>
        </div>
    </header>
    <section class="bg-primary" id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Issue Tracker</h2>
                    <br>
                    <p class="text-faded">
                        Log your issue and have it worked on ASAP while you receive feedback on the progress
                    </p>
                    <a href="#three" class="btn btn-default btn-xl page-scroll">Sign Up Now</a>
                </div>
            </div>
        </div>
    </section>
    <section id="three">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-android-laptop wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Tracking</h3>
                        <p class="text-muted">Be able to track your issue</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                        <h3>Updates</h3>
                        <p class="text-muted">Receive updates on progress</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Notification</h3>
                        <p class="text-muted">Get notification on </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
   <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="text-primary">Get Started</h2>
                <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
            </div>
            <br>
            <hr/>
            <br>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-sass" title="sass"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">
         
                </div>
                <div class="col-xs-6 col-sm-3 column">
             
                </div>
                <div class="col-xs-12 col-sm-3 column">
                  
                </div>
                <div class="col-xs-12 col-sm-3 text-right">
                    <h4>Follow</h4>
                    <ul class="list-inline">
                      <li><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
                    </ul>
                </div>
            </div>
            <br/>
            <span class="pull-right text-muted small"><a href="http://www.bootstrapzero.com">Issue Tracker by Ahmed Yusuf</a> ©2017 Andela Cohort XV</span>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="statc/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/wow.js"></script>
    <script src="static/js/scripts.js"></script>
  </body>
</html>