<html lang="en">
  <head>
    <title>Issue Tracker</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jumbotron.css') }}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}">Issue Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="{{url_for('login')}}" method="POST">
            <div class="form-group">
              <input type="text" name='name' placeholder="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name='password' placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
	
	<div class="col-lg-6">
      <form class="form-signin" action="{{url_for('signup')}}" method="POST">
        <h2 class="form-signin-heading">Log issue</h2>
        <input type="name" name="name" class="form-control" placeholder="Username" required autofocus>
        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
        <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
		</br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
	</div>
    </div> <!-- /container -->
	</body>
</html>